@font-face {
      font-family: 'Montserrat';
      src: url('../config/fonts/Montserrat-Bold.otf');
};

@font-face {
      font-family: 'Montserrat-Light';
      src: url('../config/fonts/Montserrat-Light.otf');
};

@font-face {
      font-family: 'Roboto';
      src: url('../config/fonts/Roboto-Regular.ttf');
};